*{
    box-sizing: border-box;
    font-family: Arial, sans-seriif;
}

body{
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #fff; 
    padding: 25px;
    width: 350px;
    border-radius:10px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;

}

label{
    display: block;
    margin-bottom: 5px;
}

input {
width: 100%;
padding:8px ;
border: 2px solid #ccc;
border-radius: 4px;
}

input.success{
    border-color: red;
}

input.error{
    border-color: red;
}

small{
    color:red ;
    visibility: hidden;
}
small.visible{
    visibility: visible;
}
button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}