:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --accent-color: #007bff;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #eaeaea;
  --accent-color: #4dabf7;
}

body {
     background-color: var(--bg-color);
     color: var(--text-color);
     font-family: Arial, Helvetica, sans-serif;
     transition: background-color 0.3s, color 0.3s ease;
}

button{
    padding: 
    10pax 20px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}